<h2>Extrato</h2>
<p>
    @ViewBag.Mensagem
</p>
<p>
    <strong>Nome do Cliente</strong><br />
    <input class="form-control" type="text" name="nome" readonly value="@ViewBag.Nome" />
</p>
<br />
<p>
    <strong>CPF do Cliente</strong><br />
    <input class="form-control" type="text" name="cpf" readonly value="@ViewBag.CPF " />
</p>

