@model Sistema_Loja.ViewModels.OrdemView

@{
    ViewBag.Title = "NovaOrdem";
}

<h2>NovaOrdem</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    </div>
}
