<br>
<button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Voltar" (click)="Voltar()"><i class="fa-solid fa-circle-left"></i></button>
<br>
<app-titulo [titulo]=titulo></app-titulo>
<br>
<div class="form-row">
    <div class="card rounded shadow-sm">
      <form [formGroup]="form">
        <div class="p-3">
          <div class="row">
            <div class="form-group col-md-5">
              <label class="required" style="font-weight: bold;">Cliente</label>
              <input type="text" placeholder="Pesquisar Cliente" [ngClass]="cssValidator(f.clienteNome)" formControlName="clienteNome" [formControl]="clienteControl" [matAutocomplete]="autoCliente" [(ngModel)]="gerarPedido.clienteNome" class="form-control">
              <mat-autocomplete #autoCliente="matAutocomplete" (optionSelected)="onOptionSelectedCliente($event)">
                <mat-option *ngFor="let cliente of filteredClientes | async" [value]="cliente.nome" [attr.data-id]="cliente.id" (click)="pegarClienteId(cliente.id)">
                  {{cliente.nome}}
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="form-group col-md-5">
              <label class="required" style="font-weight: bold;">Transportador</label>
              <input type="text" placeholder="Pesquisar Transportador" [ngClass]="cssValidator(f.transportadorNome)" formControlName="transportadorNome" [formControl]="transportadorControl" [matAutocomplete]="autoTransportador" [(ngModel)]="gerarPedido.transportadorNome" class="form-control">
              <mat-autocomplete #autoTransportador="matAutocomplete" (optionSelected)="onOptionSelectedTransportador($event)">
                <mat-option *ngFor="let transportador of filteredTransportadores | async" [value]="transportador.nome" [attr.data-id]="transportador.id" (click)="pegarTransportadorId(transportador.id)">
                  {{transportador.nome}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div id="botaoCadastrar">
            <button class="btn btn-lg btn-primary btn-block" [disabled]="!form.valid" (click)="Enviar()" type="submit">Criar Pedido</button>
          </div>
        </div>
      </form>
    </div>
</div>
<label class="required">Campos Obrigatórios</label>
