<br>
<button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Voltar" (click)="Voltar()"><i class="fa-solid fa-circle-left"></i></button>
<br>
<app-titulo [titulo]=titulo></app-titulo>
<br>
<div class="form-row">
    <div class="card rounded shadow-sm">
      <form [formGroup]="form">
        <div class="p-3">
          <div class="row">
            <div class="form-group col-md-5">
              <label class="required" style="font-weight: bold;">Nome</label>
              <input type="text" placeholder="Pesquisar Cliente" [ngClass]="cssValidator(f.clienteNome)" formControlName="clienteNome" [formControl]="control" [matAutocomplete]="auto" [(ngModel)]="gerarPedido.clienteNome" class="form-control">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                <mat-option *ngFor="let clienteNome of filteredNomes | async" [value]="clienteNome.clienteNome" [attr.data-id]="clienteNome.clienteId" (click)="pegarClienteId(clienteNome.clienteId)">
                  {{clienteNome.clienteNome}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div id="botaoCadastrar">
            <button class="btn btn-lg btn-primary btn-block" [disabled]="!form.valid" (click)="Enviar()" type="submit">Criar Pedido</button>
          </div>
        </div>
      </form>
    </div>
</div>
<label class="required">Campos Obrigatórios</label>
