<br />
<div class="text-center">
    <strong>Resultado</strong><br />
    <input type="number" name="resultado" readonly value="@ViewBag.Resultado" class="form-control text-center" style="margin:auto" />
</div>
