<br>
<button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Voltar" (click)="Voltar()"><i class="fa-solid fa-circle-left"></i></button>
<br>
<app-titulo [titulo]=titulo></app-titulo>
<br>
<h3 id="nomeUsuario">{{nome}}</h3>
<div class="card rounded shadow-sm">
  <form [formGroup]="form">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="row">
          <div class="form-group">
            <h1>Cliente</h1>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Visualizar Cadastros</label>
            <input class="form-check-input" formControlName="visualizarCliente" [(ngModel)]="permissoes.visualizarCliente" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Cadastro</label>
            <input class="form-check-input" formControlName="clienteCadastro" [(ngModel)]="permissoes.clienteCadastro" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Editar</label>
            <input class="form-check-input" formControlName="clienteEditar" [(ngModel)]="permissoes.clienteEditar" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Detalhe</label>
            <input class="form-check-input" formControlName="clienteDetalhe" [(ngModel)]="permissoes.clienteDetalhe" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Excluir</label>
            <input class="form-check-input" formControlName="clienteExcluir" [(ngModel)]="permissoes.clienteExcluir" type="checkbox">
          </div>
        </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="form-group">
            <h1>Estoque</h1>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Visualizar Estoques</label>
            <input class="form-check-input" formControlName="visualizarEstoque" [(ngModel)]="permissoes.visualizarEstoque" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Cadastro</label>
            <input class="form-check-input" formControlName="estoqueCadastro" [(ngModel)]="permissoes.estoqueCadastro" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Editar</label>
            <input class="form-check-input" formControlName="estoqueEditar" [(ngModel)]="permissoes.estoqueEditar" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Detalhe</label>
            <input class="form-check-input" formControlName="estoqueDetalhe" [(ngModel)]="permissoes.estoqueDetalhe" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Excluir</label>
            <input class="form-check-input" formControlName="estoqueExcluir" [(ngModel)]="permissoes.estoqueExcluir" type="checkbox">
          </div>
        </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="form-group">
            <h1>Fornecedor</h1>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Visualizar Fornecedores</label>
            <input class="form-check-input" formControlName="visualizarFornecedor" [(ngModel)]="permissoes.visualizarFornecedor" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Cadastro</label>
            <input class="form-check-input" formControlName="fornecedorCadastro" [(ngModel)]="permissoes.fornecedorCadastro" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Editar</label>
            <input class="form-check-input" formControlName="fornecedorEditar" [(ngModel)]="permissoes.fornecedorEditar" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Detalhe</label>
            <input class="form-check-input" formControlName="fornecedorDetalhe" [(ngModel)]="permissoes.fornecedorDetalhe" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Excluir</label>
            <input class="form-check-input" formControlName="fornecedorExcluir" [(ngModel)]="permissoes.fornecedorExcluir" type="checkbox">
          </div>
        </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="form-group">
            <h1>Funcionario</h1>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Visualizar Funcionarios</label>
            <input class="form-check-input" formControlName="visualizarFuncionario" [(ngModel)]="permissoes.visualizarFuncionario" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Cadastro</label>
            <input class="form-check-input" formControlName="funcionarioCadastro" [(ngModel)]="permissoes.funcionarioCadastro" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Editar</label>
            <input class="form-check-input" formControlName="funcionarioEditar" [(ngModel)]="permissoes.funcionarioEditar" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Detalhe</label>
            <input class="form-check-input" formControlName="funcionarioDetalhe" [(ngModel)]="permissoes.funcionarioDetalhe" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Excluir</label>
            <input class="form-check-input" formControlName="funcionarioExcluir" [(ngModel)]="permissoes.funcionarioExcluir" type="checkbox">
          </div>
        </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="form-group">
            <h1>Produto</h1>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Visualizar Produtos</label>
            <input class="form-check-input" formControlName="visualizarProduto" [(ngModel)]="permissoes.visualizarProduto" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Cadastro</label>
            <input class="form-check-input" formControlName="produtoCadastro" [(ngModel)]="permissoes.produtoCadastro" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Editar</label>
            <input class="form-check-input" formControlName="produtoEditar" [(ngModel)]="permissoes.produtoEditar" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Detalhe</label>
            <input class="form-check-input" formControlName="produtoDetalhe" [(ngModel)]="permissoes.produtoDetalhe" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Excluir</label>
            <input class="form-check-input" formControlName="produtoExcluir" [(ngModel)]="permissoes.produtoExcluir" type="checkbox">
          </div>
        </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="form-group">
            <h1>Transportador</h1>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Visualizar Transportadores</label>
            <input class="form-check-input" formControlName="visualizarTransportador" [(ngModel)]="permissoes.visualizarTransportador" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Cadastro</label>
            <input class="form-check-input" formControlName="transportadorCadastro" [(ngModel)]="permissoes.transportadorCadastro" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Editar</label>
            <input class="form-check-input" formControlName="transportadorEditar" [(ngModel)]="permissoes.transportadorEditar" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Detalhe</label>
            <input class="form-check-input" formControlName="transportadorDetalhe" [(ngModel)]="permissoes.transportadorDetalhe" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Excluir</label>
            <input class="form-check-input" formControlName="transportadorExcluir" [(ngModel)]="permissoes.transportadorExcluir" type="checkbox">
          </div>
        </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="form-group">
            <h1>Empresa</h1>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Visualizar Empresas</label>
            <input class="form-check-input" formControlName="visualizarEmpresa" [(ngModel)]="permissoes.visualizarEmpresa" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Cadastro</label>
            <input class="form-check-input" formControlName="empresaCadastro" [(ngModel)]="permissoes.empresaCadastro" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Editar</label>
            <input class="form-check-input" formControlName="empresaEditar" [(ngModel)]="permissoes.empresaEditar" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Detalhe</label>
            <input class="form-check-input" formControlName="empresaDetalhe" [(ngModel)]="permissoes.empresaDetalhe" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Excluir</label>
            <input class="form-check-input" formControlName="empresaExcluir" [(ngModel)]="permissoes.empresaExcluir" type="checkbox">
          </div>
        </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="form-group">
            <h1>Usuario</h1>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Visualizar Usuarios</label>
            <input class="form-check-input" formControlName="visualizarUsuario" [(ngModel)]="permissoes.visualizarUsuario" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Cadastro</label>
            <input class="form-check-input" formControlName="usuarioCadastro" [(ngModel)]="permissoes.usuarioCadastro" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Editar</label>
            <input class="form-check-input" formControlName="usuarioEditar" [(ngModel)]="permissoes.usuarioEditar" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Detalhe</label>
            <input class="form-check-input" formControlName="usuarioPermissoes" [(ngModel)]="permissoes.usuarioPermissoes" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Excluir</label>
            <input class="form-check-input" formControlName="usuarioExcluir" [(ngModel)]="permissoes.usuarioExcluir" type="checkbox">
          </div>
        </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="form-group">
            <h1>Venda</h1>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Visualizar Vendas</label>
            <input class="form-check-input" formControlName="visualizarVenda" [(ngModel)]="permissoes.visualizarVenda" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Cadastro</label>
            <input class="form-check-input" formControlName="vendaCadastro" [(ngModel)]="permissoes.vendaCadastro" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Editar</label>
            <input class="form-check-input" formControlName="vendaEditar"  [(ngModel)]="permissoes.vendaEditar" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Detalhe</label>
            <input class="form-check-input" formControlName="vendaDetalhe" [(ngModel)]="permissoes.vendaDetalhe" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Excluir</label>
            <input class="form-check-input" formControlName="vendaExcluir" [(ngModel)]="permissoes.vendaExcluir" type="checkbox">
          </div>
        </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="form-group">
            <h1>Relatorio</h1>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Visualizar Relatorios</label>
            <input class="form-check-input" formControlName="visualizarRelatorio" [(ngModel)]="permissoes.visualizarRelatorio" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Cadastro</label>
            <input class="form-check-input" formControlName="relatorioCadastro" [(ngModel)]="permissoes.relatorioCadastro" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Editar</label>
            <input class="form-check-input" formControlName="relatorioEditar" [(ngModel)]="permissoes.relatorioEditar" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Detalhe</label>
            <input class="form-check-input" formControlName="relatorioDetalhe" [(ngModel)]="permissoes.relatorioDetalhe" type="checkbox">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
          <div class="form-group form-check form-switch">
            <label class="required" style="font-weight: bold;">Excluir</label>
            <input class="form-check-input" formControlName="relatorioExcluir" [(ngModel)]="permissoes.relatorioExcluir" type="checkbox">
          </div>
        </div>
        </div>
      </div>
      </div>
  </div>
  <div class="card-footer">
    <div id="botaoCadastrar">
      <button class="btn btn-lg btn-primary" (click)="Salvar()" type="submit">Salvar</button>
    </div>
  </div>
</form>
</div>
